// COLORS

  $primary-color: #161514; /* dark */
  $secondary-color: #f7edce; /* beige */
  
  $accent1-color: #8c1e1e; /* red book cover */
  $accent2-color: #02500a; /* green */
  $accent3-color: #d19405; /* gold */
  $accent4-color: #eaa606; /* gold on red */
  $accent5-color: #443e3e; /* red (Andrea added) */
  
  $paper1-color: #e5d7b2; /* light */
  $paper2-color: #e3c071; /* medium */
  $paper3-color: #bca05e; /* dark */
  

  // FONTS

  $paper-font: 'Playfair Display', serif;
  $table-font: 'Caesar Dressing', cursive;
  $book-font: 'EB Garamond', serif;
  $heading-font: 'Alex Brush', cursive;